*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #f5f6f7 !important; */
  background: white;
}

.text-xs {
  font-size: 14px;
}

.maxheight-container {
  min-height: calc(100vh - 176px);
  margin: 0 auto;
  width: 460px;
  position: relative;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 120px auto 0;
  padding: 30px 10% 50px;
  border: 1px solid #eaeced;
  overflow: hidden;
}

.logo-img {
  margin: 0 auto 13.116%;
}
.login-form {
  width: 100%;
  margin-top: 30px;
}

.btn-next:hover {
  color: white;
}

.btn-next {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #142B8E;
  color: white;
}

.btn-sign {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #142B8E;
  border: 1px solid #142B8E;
  margin-bottom: 72px;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 16px 0;
}
.divider hr {
  flex: 1;
  background-color: grey;
}
.divider span {
  position: absolute;
  background-color: white;
  padding: 3px 6px;
  top: 0;
  margin: auto;
}

.language-text {
  padding: 0 8px;
  text-decoration: none;
  color: grey;
  font-size: 12px;
  font-weight: 700;
}
.text-border-left {
  border-left: 1px solid grey;
}

h1 {
  font-weight: bold;
  font-size: 26px !important;
}

.font-size-26 {
  font-size: 26px;
  font-weight: 500;
}

.font-size-20 {
  font-size: 20px;
  font-weight: 500;
}

.font-size-12 {
  font-size: 12px;
}

.modal-content {
  padding: 50px 40px;
}

.contact-form {
  max-width: 700px;
  padding: 40px 60px;
  margin-top: 70px;
  border: 1px solid lightgray;
}
.contact-form label {
  font-size: 14px;
  font-weight: 700;
}

.card-body input {
  padding: 10px;
}
/* responsive UI design */

@media only screen and (max-width: 800px) {
  .maxheight-container {
    width: 100%;
    min-height: calc(100vh - 100px);
  }
  .card-container {
    padding: 0;
    margin: 0;
    gap: 0px;
    border: 0;
  }
  h1 {
    font-size: 22px !important;
  }
}